# set .env vars: TZ, DOMAIN_NAME, SITE_PATH
# .env: MAILMANAGER
# net:
# docker network create proxy_default --subnet "192.168.100.0/24"
# docker network create proxy_default --ipv6 --subnet "fd00:0000:0000:0000::/64"

networks:
  proxy_default:
    external: true
  llm:
    external: true
  db:
    external: true
  local:
    external: true
  sec:
  cache:
  mail:



include:
  - compose/proxy.yml
  - compose/watchtower.yml
  - compose/homepage.yml
  #- compose/gemini-cli-web.yml
  #- compose/static.yml
  #- compose/wger.yml
  #- compose/magento.yml
  - compose/redis.yml
  #- compose/ollama.yml
  #- compose/boltdiy.yml
  #- compose/openhands.yml
  #- compose/ojs.yml
  - compose/postgres.yml
  - compose/adminer.yml
  - compose/n8n.yml
  #- compose/homeassistant.yml
  #- compose/anythingllm.yml
  - compose/portainer.yml
  #- compose/filebrowser.yml
  - compose/landing.yml
  #- compose/keycloak.yml
  #- compose/unblocker.yml
  #- compose/minio.yml
  #- compose/mailrise.yml
  - compose/moodle.yml
  - compose/pdf.yml
  - compose/dockerproxy.yml
  - compose/vaultwarden.yml
  - compose/noip.yml
  - compose/wg.yml
  - compose/dns.yml
  - compose/dozzle.yml
  - compose/code.yml
  #- compose/tailscale.yml
