http:
  serversTransports:
    mytransport:
      insecureSkipVerify: true
    selfsigned:
      insecureSkipVerify: true

  middlewares:
    compress:
      compress: {}

    crowdsec:
      plugin:
        bouncer:
          CrowdsecLapiKey: "replace-me"
          Enabled: "true"
          loglevel: "INFO" #"DEBUG"
          crowdsecappsecenabled: "true"
          crowdsecappsechost: "crowdsec:7422"
          crowdsecmode: "stream"

    my-traefik-api-key-auth:
      plugin:
        traefik-api-key-auth:
          authenticationHeader: "true"
          authenticationheaderName: X-API-KEY
          bearerHeader: "true"
          bearerHeaderName: Authorization
          keys:
            - XXXXXXX
          pathSegment: "true"
          queryParam: "true"
          queryParamName: token
          removeHeadersOnSuccess: "true"

    security-headers:
      headers:
        stsSeconds: 63072000
        stsIncludeSubdomains: true
        stsPreload: true
        forceSTSHeader: true

        browserXssFilter: true
        contentTypeNosniff: true

        frameDeny: true
        customFrameOptionsValue: "SAMEORIGIN"

        referrerPolicy: "no-referrer-when-downgrade"

        # Ajuste a CSP ao seu ambiente (exemplo bem restritivo)
        contentSecurityPolicy: "default-src 'self'; frame-ancestors 'self'; object-src 'none'; base-uri 'self';"

        # Opcional: proteger contra mixed content
        isDevelopment: false

tls:
  options:
    default:
      sniStrict: true
      minVersion: VersionTLS12
    mintls13:
      minVersion: VersionTLS13
